body, html {
    margin: 0;
    padding: 0;
    
}

.background-image {
    background-image: url('https://t4.ftcdn.net/jpg/03/27/76/77/360_F_327767713_76Exj6OasmjBiIE1Os7CBSR0Vfeu9qo7.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%; 
    position:fixed; 
    top: 0;
    left: 0;
    z-index: -1; 
}

.container {
    position: relative;
    text-align: center;
    padding: 50px; 
    background-color: rgba(255, 255, 255, 0); 
}

h1 {
    color: #021933;
    font-size: 6ch;
}

.form-container {
    text-align: left;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h2 {
    font-size: 1.5em;
    color: #011e3e;
}

form {
    display: flex;
    flex-direction: column;
    
}

input[type="date"], textarea {
    width: 97%;
    padding: 17px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    height: 170px;
}

input[type="submit"] {
    background-color: #7299c5;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    
}

input[type="submit"]:hover {
    background-color: #1f8087;
    
}
